html, body
  height 100%
  overflow hidden

body
  background-color #f2f2f2

#app
  height 100%

.app-container
  background #fff
  display flex
  flex-direction column
  width 800px
  height 100%
  margin auto
  //border-left #solid 1px #dfe5ec
  //border-right #solid 1px #dfe5ec
  //border-bottom #solid 1px #dfe5ec

  header
    display flex
    flex-direction row
    justify-content space-between
    height 32px
    background deepskyblue
    overflow hidden
    border-bottom solid 2px darkblue

    h1
      margin-left 15px
      color lightgoldenrodyellow
      line-height 10px
      font-size 16px

    .user
      margin-right 15px
      transform scale(0.8)
      zoom 0.5
      border-radius 50%
      overflow hidden

  .content
    display flex
    flex-direction row
    height 100%