.app-container
  header
    display flex
    flex-direction row
    justify-content space-between
    height 32px
    background deepskyblue
    overflow hidden
    border-bottom solid 2px darkblue

    h1
      margin-left 15px
      color lightgoldenrodyellow
      line-height 10px
      font-size 16px

    .user
      margin-right 15px
      transform scale(0.8)
      zoom 0.5
      border-radius 30px
      overflow hidden

  .sidebar
    padding 12px
    float left
    width 31%
    overflow hidden
    border-right 2px solid #e9ebed

    .rooms-search
      position relative

      input
        width 100%
        height 34px
        padding 6px 26px 6px 30px
        margin 0
        background-color #f2f2f2
        border solid 1px #f2f2f2
        border-radius 2px
        font-size 12px
        line-height normal
        box-shadow none

      input:focus
        background-color #fff
        border solid 1px #d9dbde

    .rooms-list
      list-style none
      margin-bottom 0
      padding-left 0
      //margin-top 0

      .rooms-list-item
        margin-top 0
        margin-left 0
        float none
        position relative
        font 13px

        a
          color #000
          padding 7px 16px
          clear both
          border-radius 0
          position relative
          display block
          cursor pointer
          text-decoration none

          .room-datetime
            font-size .85em
            float right
            color #b3b3b3
            text-align right

          .room-avatar
            margin-right 15px
            float left
            width 48px
            height 48px
            border-radius 50%
            overflow hidden

          .room-wrapper
            word-wrap break-word

            .room-name
              color #222
              font-weight 700
              margin-top 3px
              margin-bottom 3px
              white-space nowrap
              overflow hidden
              text-overflow ellipsis

            .room-topic
              margin-top 5px
              color grey
              overflow hidden
              white-space nowrap
              text-overflow ellipsis

        &.active
          background-color #6490b1

        &:hover
          background-color #f2f6fa

  .messages-container
    //float right
    //width 69%
    .message
      position relative
      padding 0 15px 0 15px
      margin 0 auto
      font-size 13px

      a.user-avatar
        margin 0 15px 0 0
        width 42px
        height 42px
        border-radius 50%
        overflow hidden
        cursor pointer

        img
          border-radius 50%
          overflow hidden

      a.user-name
        font-weight 700