.messages-container
  display flex
  flex-direction row
  width 69%
  height 100%

  .messages-list
    width 100%
    overflow-y auto

  .message
    clear both
    position relative
    padding 0 15px 0 15px
    margin 0 auto
    font-size 13px
    margin-top 20px

    .message-datetime
      color gray
      float right
      text-align right

    a.user-avatar
      margin 0 15px 0 0
      width 42px
      height 42px
      border-radius 50%
      overflow hidden
      cursor pointer
      float left

      img
        border-radius 50%
        overflow hidden

    .message-wrapper
      a.user-name
        font-weight 700
        cursor pointer
        margin-top 3px
        margin-bottom 5px

      .message-text
        margin-top 5px
        margin-bottom 5px
