.messages-container
  display flex
  flex-direction column
  width 69%
  height 100%

  .messages-list
    width 100%

  .message-list-item
    clear both
    position relative
    padding 0 15px 0 15px
    margin 0 auto
    font-size 13px
    margin-top 20px

    .message-time
      color gray
      float right
      text-align right

    a.user-avatar
      margin 0 15px 0 0
      width 42px
      height 42px
      border-radius 50%
      overflow hidden
      cursor pointer
      float left

      img
        border-radius 50%
        overflow hidden

    .message-wrapper
      a.user-name
        font-weight 700
        cursor pointer
        margin-top 3px
        margin-bottom 5px

      .message-text
        margin-top 5px
        margin-bottom 5px

  .message-box
    margin-left 50px
    margin-right 50px
    margin-top 10px
    margin-bottom 10px

    textarea.message-input
    textarea.message-input:focus
      font-size 13px
      min-height 50px
      resize none
      width 100%
      box-shadow 0 1px 0 0 #e8e8e8
      border none
      outline none

    textarea.message-input:focus
      box-shadow 0 2px 0 0 #e8e8e8